<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>MegaRocket GYM - Login</title>
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../css/login.css"/>
    <script defer src="../js/login.js"></script>
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <img
          class="image-logo-01"
          src="../../assets/images/img-logo-01.svg"
          alt="Logo"/>
        <img
          class="image-logo-02"
          src="../../assets/images/img-logo-02.svg"
          alt="Logo"/>
      </div>
      <a href="index.html"
        ><img src="../../assets/images/arrow-back.png" alt="arrow-back" />
      </a>
    </header>
    <main>
      <h1>Sing In</h1>
      <div class="form-container">
        <h2>Login</h2>
        <form>
          <div class="form-box">
            <div class="form-element">
              <img
                src="../../assets/images/email-icon-login.png"
                alt="email-icon-login"/>
              <input id="email" type="text"/>
            </div>
            <div id="email-error" class="error"></div>
          </div>
          <div class="form-box">
            <div class="form-element">
              <img
                src="../../assets/images/password-icon-login.png"
                alt="password-icon-login"/>
              <input id="password" type="password"/>
            </div>
            <div id="password-error" class="error"></div>
          </div>
          <div class="alert-text-container">
            <p>Remember Me?</p>
            <p>Forgot Password?</p>
          </div>
          <div class="button-container">
            <button id="submit-button" class="btn" type="submit">
              Sing In
            </button>
            <button class="btn" type="submit">
              <a href="sing-up.html">Sing Up</a>
            </button>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
