* {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

aside {
    background-color: #373867;
    position: fixed;
    height: 100%;
    width: 250px;
    z-index: 1;
    left: 0;
    top: 0;
    bottom: 0;
}

.aside-img-logo-01 {
    width: 45px;
    height: auto;
    position: absolute;
    left: 101px;
    right: 97px;
    top: 34px;
    bottom: 2px;
}

.aside-img-logo-02 {
    width: 124px;
    height: 32px;
    position: absolute;
    left: 63px;
    right: 97px;
    top: 83px;   
}

.menu-list  {
    position: relative;
    top: 141px;
    left: 26px;    
}

.link-button {
    color: #C4C4C4;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: 700;
}

.home-menu-list {
    border-bottom: 2px solid #C4C4C4;
    width: 172px;
    padding-bottom: 22px;
}

.singup-menu-list {
    border-bottom: 2px solid #C4C4C4;
    width: 172px;
    padding-bottom: 22px;
    padding-top: 22px;
}

.login-menu-list {
    border-bottom: 2px solid #C4C4C4;
    width: 172px;
    padding-bottom: 22px;
    padding-top: 22px;
}

.contact-menu-list { 
    padding-top: 22px;   
}

.contact-menu-list a{ 
    color: #46A37C;   
}

.arrow-down { 
    position: absolute;     
    left:170px;
    top: 280px; 
}

.sub-menu-list {
    position: absolute;
    top: 320px;       
    font-family: 'Roboto', sans-serif;
}

.sub-menu-text {
    display: inline-block;
    color: #46A37C;
    border-bottom: 2px solid #46A37C;
    font-size: 16px;
    margin-bottom: 22px;    
}

.sub-menu-contact {
    color: #C4C4C4;
    font-size: 14px;
    font-weight: 400;    
    border-bottom: 2px solid #C4C4C4;
    padding-bottom: 2px;
    margin-top: 32px;
}

.sub-menu-contact img {
    padding-right: 8px;
    margin-bottom: 11px;        
}

.contact-data {
    position: relative;
    bottom: 15px;     
}

header {
    z-index: 1;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #373867;
    height: 116px;    
    margin-left: 243px;    
}

.header-img-logo-01{
    width: 70px;
    height: auto;
    position: absolute;
    left: 66px;
    right: 8px;
    top: 22px;    
}

.header-img-logo-02 {
    width: 230px;
    height: auto;
    position: absolute;
    left: 142px;    
    top: 32px;      
}

main {
    background-color: #fff;       
    margin-left: 330px;
    margin-top: 62px;
}

h1 {
    display: inline;
    position: absolute;    
    left: 330px;    
    top: 190px;
    font-weight: 800;
    font-size: 80px;
    color: #2F3058;    
    padding-bottom: 22px;
}

h1 span {
    color: #626380;
    font-weight: 700;
}

.main-subtitle {
    display: inline;
    position: absolute;
    font-size: 34px;    
    left: 330px;    
    top: 320px;
    color: #2F3058;
    font-weight: 600;
}

.main-subtitle span {    
    font-weight: 800;
}

.main-text {
    width: 500px;
    position: relative;
    font-weight: 400;
    font-size: 25px;
    top: 230px;
}

.main-image {
    Width: 760px;
    Height: auto;
    display: inline-block;
    margin-left: 750px;
    bottom: 480px;     
    position: relative;
}


footer {
    background-color: #2C2C3A;       
    margin-left: 243px;
}