<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MegaRocket GYM - Login</title>
    <link rel="stylesheet" href="../css/reset.css">    
    <link rel="stylesheet" href="../css/sing-up.css">
    <script src="../js/sing-up.js"></script>
</head>
<body>
    <header class="header">            
        <div class="logo">
            <img class="image-logo-01" src="../../assets/images/img-logo-01.svg" alt="Logo">
            <img class="image-logo-02" src="../../assets/images/img-logo-02.svg" alt="Logo">
        </div>
        <a href="index.html"><img src="../../assets/images/arrow-back.png" alt="arrow-back"> </a> 
    </header>

    <main>
        <h1>Sing Up</h1>
        <div class="form-container">
            <h2>Register</h2>
            <form>
                <div class="name-lastname-container">
                    <div class="form-element">
                        <label>Nombre</label>
                        <input type="text">                                   
                    </div>                
                    <div class="form-element">
                        <label>Apellido</label>
                        <input type="text">
                    </div>
                </div>                
                <div class="dni-bday-container">
                    <div class="form-element">
                        <label>DNI</label>
                        <input type="text">
                    </div>                      
                    <div class="form-element">
                        <label>Fecha de Nacimiento</label>
                        <input type="date">                                   
                    </div>
                </div>
                <div class="phone-adress-container">
                    <div class="form-element">
                        <label>Télefono</label>
                        <input type="text">                                   
                    </div>                               
                    <div class="form-element">
                        <label>Dirección</label>
                        <input type="text">                                   
                    </div>
                </div>                
                <div class="place-post-container">
                    <div class="form-element">
                        <label>Localidad</label>
                        <input type="text">                                   
                    </div>
                    <div class="form-element">
                        <label>Código Postal</label>
                        <input type="text">                                   
                    </div>
                </div>                
                <div class="form-element">
                    <label>Email</label>
                    <input class="email" type="text">                                   
                </div>
                <div class="password-container">
                    <div class="form-element">
                        <label>Contraseña</label>
                        <input type="password">                                   
                    </div>
                    <div class="form-element">
                        <label>Repetir Contraseña</label>
                        <input type="password">                                   
                    </div> 
                </div>                      
                <div class="button-container">
                    <button class="btn">Sing Up</button>                    
                </div>                
            </form>
        </div>
    </main>      
</body>
</html>