body {
  margin: 0;
  padding: 0;
  background-image: url("../../assets/images/background-login.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  overflow-x: hidden;
}

.header {
  width: 100%;
  height: 84px;
  background-color: #373867;
}

header a img {
  position: absolute;
  margin-left: 85%;
  margin-top: -45px;
  width: 40px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 20px;
  margin-left: 20px;
  max-width: 30%;
}

.image-logo-01 {
  width: 44px;
  height: 46px;
  margin-right: 8px;
  display: flex;
  align-self: flex-start;
}

.image-logo-02 {
  padding-top: 10px;
  height: 42px;
  width: auto;
}

main {
  width: 100%;
  height: 850px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 3em;
  font-weight: 800;
  color: #ffffff;
  margin: 5vh 0;
}

h2 {
  font-size: 2em;
  font-weight: 800;
  color: #ffffff;
  margin: 5vh 0;
}

.form-container {
  background-color: rgb(142, 150, 156, 0.7);
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 30px;
}

.form-box {
  margin-bottom: 25px;
}

.form-element {
  display: flex;
  justify-content: center;
  width: 60vw;  
}

.form-element input {
  width: 60vw;
  height: 35px;
}
.form-element img {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.error-message {
  background-color: red;
  color: white;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  width: 40%;
  margin-left: 30%;
  margin-bottom: 10px;
}

.alert-text-container {
  font-size: 1em;
  color: #ff0000;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.alert-text-container p {
  margin-bottom: 15px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.btn {
  background-color: #cc9d42;
  border: none;
  color: #ffffff;
  width: 250px;
  height: 40px;
  margin-bottom: 15px;
  font-size: 1.5em;
  font-weight: 600;
}

.btn a{ 
  text-decoration: none;
  color: #ffffff;  
  font-size: 1em;
  font-weight: 600;
}


.error {
  background-color: #ff0000;
  color: antiquewhite;
  display: flex;
  justify-content: center;
}

@media (min-width: 600px) {
  header a img {
    margin-left: 90%;
  }
  .form-container {
    padding-bottom: 44px;
  }
}

@media (min-width: 1024px) {
  header a img {
    margin-left: 95%;
  }

  h1 {
    margin: 8vh 0;
  }

  .form-container {
    width: 80%;
    padding-bottom: 46px;
  }
}
